@page "/"
@inject IJSRuntime JsRuntime
@implements IAsyncDisposable

<PageTitle>Home</PageTitle>

<div id="map" style="height: 300px; width: 100%" class="rounded-lg"></div>

@code {
    private IJSObjectReference? module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try 
            {
                await JsRuntime.InvokeVoidAsync("load_map");

            }
            catch (Exception ex)
            {
                Console.WriteLine($"Map loading error: {ex.Message}");
            }
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module != null)
        {
            await module.DisposeAsync();
        }
    }
}